/*Media queries*/


@media (max-width: 1170px) {

    /*Header*/
    .header__inner__navMenu{
      display: none;
    }
    /*Mobile Header*/
    .menuButton{
      display: inline-block;
    }
    /*1st page*/
  
    .layer__1stPage__mediaqueryContainer{
      margin-top: 140px;
      width: 20px;
      height: 700px;
    }
  
    /*bottom image*/
    .layer__1stPage__bottomImageContainer{
      display: none;
    }
  
    /*Testimonials*/
    .fourthPage__apiRequestContainer{
      display: flex;
      flex-direction: column;
      height: 1300px;
      align-items: center;
      justify-content: center;
      width: 100%;
    
    }
  
         /*footer*/
  .footerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    margin-bottom: 40px;
    padding: none;
    margin: none;
  
  }
  
  .footerContainer__footer{
    margin-right: 10%;
    position: relative;
    width: 300px;
    height: 600px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: none;
  }
  
  .footerContainer__footer__navMenuContainer{
    margin-top:40px;
      height: 170px;
      display: flex;
      flex-direction: column;
      padding: none;
      margin: none;
      
  }
  .footerContainer__footer__navMenuContainer a{
    margin-right: 45px;
    height: 50px;
    text-decoration-line: none;
  }
  .footerContainer__footer__navMenuContainer a li{
    width: 20px;
    padding-right: 30px;
    color:#20262A; 
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    text-decoration:none;
  }
  .footerContainer__footer__iconsContainer{
    padding-top: 60px;
    text-align: center;
    width: 180px;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-self: end;
    margin-right: 70px;
    
  }
  
  
  }
  
  
  
  
  @media (max-width: 940px) {
  
  /*layer*/
  .layer{
    padding: none;
    margin: none;
    position: relative;
    max-width: 100%;
    /*margin: 0 auto;*/
    box-sizing: border-box;
    z-index: 1;
  }
  .layer__1stPage__mediaqueryContainer{
    margin-top: 140px;
    width: 20px;
    height: 200px;
  }
  
  
  /*2nd page*/
    .secondPage{
      flex-direction: column;
      height: 1100px;
    }
  
    /*take a look at our work*/ 
  
    .secondPage__titleAndDescriptionContainer__subTitleContainer__ButtonsContainer {
    
      z-index: 2;
      display: flex;
      flex-direction: column;
      position: relative;
      height: 300px;
      width: 270px;
  
    }
    
    .button__tryForFree{
      margin-top: 45px;   
      cursor: pointer;
      margin-right: 100px;
      max-width: 220px;
      min-width: 220px;
      height: 52px;
      background: #00B6F0;
      color: #FFFFFF;
      border: none;
      border-radius: 3px;
      font-size: 16px;
      box-shadow: 0px 4px 15px 10px #00000050;
    }
    .button__learnMore {
      margin-top: 1px;
      margin-left: 5px;
  
      cursor: pointer;
      max-width: 220px;
      min-width: 220px;
      height: 52px;
      background: #FFFFFF;
      color: #112D57;
      border: none;
      border-radius: 3px;
      font-size: 16px;
      outline: none;
      box-shadow: 0px 4px 15px 10px #00000050;
    }
  
  
    .secondPage__simonSaysPrototypeContainer{
      margin-top: 40px;
  
      width: 100%;
      margin: none;
    }
    
      /*Game Board*/
    .gameboard {
        height: 90px;
        border-radius: 50%;
        overflow: hidden;
        
        max-height: 380px;
        max-width: 380px;
        box-shadow: 0px 4px 15px 5px #00000049;
    
        min-height: 380px;
        min-width: 380px;
        margin-left: 29%;
    }
    .btn-start-container{
    
      width: 100%;
      height: 0px;
  
    }
  
    .btn-start {
      margin-top: 600px;
        position: absolute;
        cursor: pointer;
        width: 360px;
        height: 60px;
        background: #00B6F0;
        color: #FFFFFF;
        border: none;
        border-radius: 3px;
        font-size: 22px;
        top: calc(50% - 30px);
        left: calc(50% - 160px);
        transition: .5s;
        outline: none;
        box-shadow: 0px 4px 15px 10px #00000050;
      }
  }
  
  
  
  
  
  
  
  
  @media (max-width: 750px) {
    /*Game Board*/
    .gameboard {
      margin-left: 22%;
  }
  }
  
  
  
  
  
  
  
  
  
  
  
  @media (max-width: 600px) {
  
    /*Header*/
    .header__inner__logoContainer{
      height: 50%;
      display: table;
      float: left;
  
    }
    .header__inner__logoContainer__logo{
      height: 50%;
      display: table-cell;
      vertical-align: middle;
      margin-top: 20px;
  }


  /*Second Page*/

  .secondPage{
    justify-content: space-between;
    padding-top: 100px;
    margin-top: 200px;
    margin-left: 0px;
}
  
  
  .secondPage__titleAndDescriptionContainer{
    margin-left: 3%;
  }

  
  
    /*Game Board*/
    .gameboard {
      height: 90px;
      border-radius: 50%;
      overflow: hidden;
      
      max-height: 380px;
      max-width: 380px;
      box-shadow: 0px 4px 15px 5px #00000049;
  
      min-height: 380px;
      min-width: 380px;
      margin-left: 10%;
  }

     /*simon says button*/  
    .btn-start-container{
    
      width: 100%;
      height: 0px;
  
    }
    .btn-start {
      margin-left: 30px;
      margin-top: 600px;
        position: absolute;
        cursor: pointer;
        width: 250px;
        height: 60px;
        background: #00B6F0;
        color: #FFFFFF;
        border: none;
        border-radius: 3px;
        font-size: 22px;
        top: calc(50% - 30px);
        left: calc(50% - 160px);
        transition: .5s;
        outline: none;
        box-shadow: 0px 4px 15px 10px #00000050;
      }
  
      /*video page*/
      .thirdPageVideoContainer{
        width: 100%;
        height: 420px;
      }
  
  
       /*footer*/
  .footerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    margin-bottom: 40px;
    padding: none;
    margin: none;
  
  }
  
  .footerContainer__footer{
    margin-right: 5%;
    position: relative;
    width: 300px;
    height: 600px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: none;
  }
  
  .footerContainer__footer__navMenuContainer{
    margin-top:40px;
      height: 170px;
      display: flex;
      flex-direction: column;
      padding: none;
      margin: none;
      
  }
  .footerContainer__footer__navMenuContainer a{
    margin-right: 45px;
    height: 50px;
    text-decoration-line: none;
  }
  .footerContainer__footer__navMenuContainer a li{
    width: 20px;
    padding-right: 30px;
    color:#20262A; 
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    text-decoration:none;
  }
  .footerContainer__footer__iconsContainer{
    padding-top: 60px;
    text-align: center;
    width: 180px;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-self: end;
    margin-right: 70px;
    
  }    
  }
  
  
  
  
  
  
  @media (max-width: 500px) {

    /*1st page*/
     /*Logo*/
    .header__inner__logoContainer{
        margin-left: 10px;
    }

    .secondPage__simonSaysPrototypeContainer{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*Second Page*/

    .secondPage{
        justify-content: space-between;
        padding-top: 100px;
        margin-top: 100px;
        margin-left: 0px;
    }

    .layerBackground{
        background-color:#1E1E1E;
        float: left;
        width: 100%;
        height: 2150px;
        position: absolute;
        margin-top: 900px;
        text-align: center;
    }
  
  
    .secondPage__titleAndDescriptionContainer{
      margin-left: 0%;
    }


    .gameboard {
        height: 90px;
        border-radius: 50%;
        overflow: hidden;
        max-height: 450px;
        max-width: 450px;
        box-shadow: 0px 4px 15px 5px #00000049;
        min-height: 350px;
        min-width: 350px;
    }
  
    /*Game Board*/
    .gameboard {
        min-height: 300px;
        min-width: 300px;
      margin-left: 12%;
    }
     /*simon says button*/  
    .btn-start-container{
    
      width: 100%;
      height: 0px;
  
    }
  
  
    /*Testimonial Container*/
    .fourthPage__apiRequestContainer__testimonial{
      width: 370px;
      text-align: center;
   
    }
    }

    @media (max-width:425px){
        
    }